<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-mvc-annotation:war exploded">
    <output-path>$PROJECT_DIR$/target/spring-mvc-annotation</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-mvc-annotation" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:4.0.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:4.0.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:4.0.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:4.0.6.RELEASE" />
          <element id="library" level="project" name="Maven: aopalliance:aopalliance:1.0" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:4.0.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:4.0.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:4.0.6.RELEASE" />
          <element id="library" level="project" name="Maven: javax.servlet.jsp:javax.servlet.jsp-api:2.3.1" />
          <element id="library" level="project" name="Maven: javax.servlet:jstl:1.2" />
          <element id="library" level="project" name="Maven: javax.servlet:javax.servlet-api:3.1.0" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:1.6.1" />
          <element id="library" level="project" name="Maven: org.slf4j:jcl-over-slf4j:1.6.1" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/target/spring-mvc-annotation/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring-mvc-annotation/web/Web" />
    </root>
  </artifact>
</component>